HTML CSS JSResult Skip Results Iframe
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img{
  width: 100%;
  height: 100%;
  filter: brightness(30%);
  aspect-ratio: 1;
  object-fit: cover;
}

body {  
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background: url('./nav.jpg');
}

h1 {
  text-align: center;
  margin: 30px 0;
}

ul{
  list-style-type: none;
  padding: 24px;
}

li {
  margin-top: 12px;
  margin-bottom: 24px;
  text-align: center;
}

p{
  margin-top: -3px;
  margin-bottom: 12px;
  color:white;
}

button,
button *,
button :after,
button :before,
button:after,
button:before {
  border: 0 solid;
  box-sizing: border-box;
}
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
button:disabled {
  cursor: default;
}
button:-moz-focusring {
  outline: auto;
}
button svg {
  display: block;
  vertical-align: middle;
}
button [hidden] {
  display: none;
}
button {
  border: 3px solid;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 20px 80px;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s;
}
button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em rgb(255, 232, 23);
  transform: translateY(-0.25em);
  color: rgb(255, 232, 23);
  border-color:  rgb(255, 232, 23);
}

.container {
  width: 100%;
  height: 93vh;
  flex-grow: 1;
  min-width: 0;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
  'topl topm topr'
  'midl midm midr'
  'botl botm botr';
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  grid-column: 1 / span 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.inner-wrapper {
  width: 500%;
  height: 100%;
  position: relative;
  left: -100%;
}


.slide {
  grid-column-start: 1;
  width: calc(100%/5);
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 700;
  float: left;
  animation: fadeIn 1s;
  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
}

.button {
  width: 20px;
  height: 20px;
  position: absolute;
  cursor: pointer;
}

.button:hover{
  border-color: rgb(255, 232, 23);
}

.prev {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end:1;
  border-left: 6px solid white;
  border-top: 6px solid white;
  transform: rotate(-45deg);   
  align-self: center;
  justify-self:center;

}

.next {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  border-right: 6px solid white;
  border-top: 6px solid white;
  transform: rotate(45deg);
  align-self: center;
  justify-self: center;
}

.title {
  grid-area: midm;
  z-index: 99;
  color: white;
}

.indicator-arrow {
  grid-column: 2;
  grid-row: 3;
  position:relative;
  z-index:1;
  width:3em;
  height:3em;
  font-size:0.5em;
  display:block;
  -webkit-transform:rotate(45deg);
  border-right: 6px solid white;
  border-bottom: 6px solid white;
  align-self: start;
  justify-self: center;
}

.indicator-arrow {
  -webkit-animation: arrows 2.8s 0.4s;
  -webkit-animation-delay: 3s;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-div {
  align-self: center;
  justify-self: center;
  height: 4rem;
  width: 8rem;
  padding-left: 12px;
}

.logo {
  filter: brightness(100%);
  height: 100%;
  width: 100%;

}

.hamburger {
  z-index: 99999;
  margin-right: 5%;
  background: black;
  cursor: pointer;
  height: 2rem;
  width: 3rem;
  border: none;
  font-size: 2rem;
  padding:0px;
  }

  .closeIcon {
    display: none;
  }

  .hamburger-menu {
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
    height: 100vh;
  }

  .showMenu {
    transform: translateY(0);
  }

  .hideMenu {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }

  .hide {
    display:none;
  }

  #nav {
    display: flex;
    flex-direction: row;
    z-index: 999;
    background: black;
    color: #f1f1f1;
    position: sticky;
    top: 0;
    width: 100%;
    padding-bottom: 3%;
    padding-top: 3%;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 0;
    min-width: 0;
    max-height: 12vh;
  }

  .site-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .btn-list {
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
  }

  .menu-btn-list {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    gap:1rem;
    padding: 1rem 1rem;
  }

  .slides {
    width: 100%;
    background: lightgoldenrodyellow;
  }

  #screen-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .menu-buttons {

  }

  .home-buttons{
    display: block;
  }

  .item-title {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .about {
    color: white;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem 2rem 3rem;
  }
  .image-container {
    height: 20rem;
    width: 20rem;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


/* From ipad to DESKTOP */
@media only screen and (min-width: 768px) {
  #body {
    display: grid;
    grid-template: 
    "nav content content" 100vh
    "nav content content" auto;
    grid-template-columns: 1fr 6fr;
    align-items: start;
    justify-content: center;
  }

  aside {
    --align-self: stretch;
    position: sticky;
    top: 0;
    align-self: var(--align-self);
  }
  
  #nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 1fr 6fr;
    z-index: 999;
    background:black;
    color: white;
    position: sticky;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    background: url('./nav.jpg');
  }

  .hamburger {
    display: none;
  }

  .hamburger-menu {
    list-style: none;
    position: static;
    z-index: 99;
    color: white;
    list-style: none;
    height: 100%;
    z-index: 1000;
    padding-top: 0rem;
    transform: translateY(0%);
    transition: transform 0.0s ease;
  }

  .site-content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(
      rgba(255,255,255,0.5), 
      rgba(255,255,255,0.5),
    url('./content.jpg'));
  }

  .container {
    height: 100vh;
    max-width: 100%;
  }

  .btn-list{
    height:0vh;
  }

  .home-buttons{
    display:none;
  }

  .logo-div{
    padding-top: 2rem;
    padding-left: 0px;
  }

  .menu{
    column-count: 2;
  }
  
}