body {
    display: block;
}

#head {
    background: lightgray;
    margin-left: 25%;
    margin-right: 25%;
    height: 20vh;
}


#board {
  /* display: grid;
  grid-template-rows: 1fr 5fr;
  justify-content: center;
  align-items: stretch;
  align-content: stretch; */
  width: 50%;
  height: 50vh;
  margin-left: 25%;
  margin-right: 25%;
  opacity: 0;
  z-index: 0;
  aspect-ratio: 1;
}

#game-space {
    background: silver;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    aspect-ratio: 1;
}

.board-square {
  background: white;
  pointer-events: auto;
  border: 1px, solid, black;
}

.disabled {
  background: white;
  pointer-events: none;
  border: 1px, solid, black;
}


#score {
    background: grey;
    display:grid;
    grid-template-columns: 1fr 1fr;
    /* margin-left: 25%;
    margin-right: 25%; */
    height: 10vh;
    opacity: 1;
}

#player-selection {
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 40vh;
    display: grid;
    aspect-ratio: 1;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: 
        'player1 extra player2'
        'butt butt butt';

    align-items: center;
    justify-content: center;
    border: solid black 1px;
    z-index: 999;
}

.player-selection--isHidden {
    display: none;
}


.card {
    display: grid;
    grid-template-rows: repeat(1fr, 3);
}
.players {
    display: grid;
    grid-template-areas: 
        'symbol symbol'
        'human bot';
    border: solid black 1px;
}

#player1 {
    grid-area: player1;
    background: chartreuse;
}
#player2 {
    grid-area: player2;
    background:magenta;
}

.symbol{
    grid-area: symbol;
    text-align: center;
}
.human {
    grid-area: human;
}
.bot {
    grid-area: bot;
}

.butt-holder {
    grid-area: butt;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-butt {
    display: none;
}

#result {
    position: absolute;
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 40vh;
    display: grid;
    aspect-ratio: 1;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'message'
        'butts';
    border: 1px, black, solid;
    align-items: center;
    justify-items: center;
    border: solid black 1px;
    z-index: 0;
    background: gold;
    opacity: 0;
}

#win-or-lose{
  grid-area: message;
}

#new-game-options{
  grid-area: butts;
}












@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  @keyframes fadeInHalf {
    0% { opacity: 0; }
    100% { opacity: .5; }
  }
  @-moz-keyframes fadeInHalf {
    0% { opacity: 0; }
    100% { opacity: .5; }
  }
  
  @-webkit-keyframes fadeInHalf {
    0% { opacity: 0; }
    100% { opacity: .5; }
  }
  
  @-o-keyframes fadeInHalf {
    0% { opacity: 0; }
    100% { opacity: .5; }
  }
  
  @-ms-keyframes fadeInHalf {
    0% { opacity: 0; }
    100% { opacity: .5; }
  }

  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  @-moz-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-o-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-ms-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }