#projects {
    display:flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 20vh;
    padding: 1rem 1rem 1rem 1rem;
}

#project-section-header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 12px;
}

#status-labels {
    align-content: center;
    justify-items: center;
    /* background: #f4f4f4; */
}

#new-project-button {
    align-self: start;
    height: 3rem;
    width: 6rem;
    margin-left: 2rem;
}

.project-header {
    /* background: #f4f4f4; */
    /* border: 6px solid black; */
    border-radius: 30px;
    padding: 2rem;
    background: lightblue;
}

.head-lbl {
    background: #f4f4f4;
    height:100%;
    width:100%;
    text-align:center;
}

.project-options {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}
.project-name-change-button{
    height: 2rem;
    width: 2rem;
}

.project-delete-button{
    height: 3rem;
    width: 3rem;
    justify-self: end;
}

.project-collapse-button{
    height:50px;
    width:50px;
    grid-column-start: 3;
    justify-self: end;
    grid-row-start: 2;
}

.new-task-button{
    height: 3rem;
    width: 3rem;
}

.project-status-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    padding: 0rem 2rem;
}

.project-status-col {
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
    overflow: scroll;
    height: 100%;
    transition: all 1s;

}

.hover {
    background: blue;
    z-index:99;
}

.save{
    background: lightblue;
}
.project-collapse-button:hover {
    color: green;
}

.project-collapse-button::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.toggle-button-transition {
    transform: rotate(90deg) translateX(-3px);
  }

.collapsed {
    background-color: red;
    transform: translateY(-100%);
    max-height:0px;
 }


.project {
    overflow: hidden;
  }
  
/* #expand-contract {
border-bottom: 1px solid red;
margin-top: -100%;
transition: all 1s;
} */

.project-status-col.expanded {
    background-color: green;
    margin-top: 0;
}

.hide{
    display:none;
}

.clicked{
    color: yellow;
}